<!DOCTYPE html>
<html>
  <head>
    <% include ./../partial/settings %>
  </head>
  <body>

    <style>

        input:focus{
            outline: none;
        }

    </style>

    <% include ./../partial/header %>

        <div class="container mt-32 mx-auto text-center w-10/12 sm:w-9/12 md:w-8/12 lg:w-1/2 xl:w-5/12">

            <h1 class="text-4xl text-blue-700 font-black">SIGN UP</h1>
        
            <form method="post" class="mx-auto">

                <input class="block mx-auto w-1/2 my-10 py-5 px-5 rounded-lg bg-gray-300" type="text" name="name" id="name" placeholder="닉네임">

                <input class="block mx-auto w-1/2 my-10 py-5 px-5 rounded-lg bg-gray-300" type="text" name="id" id="id" placeholder="아이디">

                <input class="block mx-auto w-1/2 my-10 py-5 px-5 rounded-lg bg-gray-300" type="password" name="password" id="password" placeholder="비밀번호">

                <button class="block mx-auto w-1/2 my-10 py-5 px-5 rounded-lg bg-blue-300">SIGN UP</button>

            </form>

            <p class="pb-10">이미 계정이 있다면 <a href="/users/login" class="font-black text-blue-600 hover: text-blue-700">로그인</a>하세요!</p>
        
        </div>
      
    <% include ./../partial/footer %> 

    <script>

        document.addEventListener('submit', (ev) => {

            var check = true;

            const inputs = document.querySelectorAll("input");
            const pw = document.getElementById("password");

            inputs.forEach(element => {
                if(element.value.length < 3){
                    check = false;
                }
            });

            if(!check){
                ev.preventDefault();
                alert("닉네임과 아이디는 최소 3글자입니다")
            } else{
                if(pw.value.length < 6){
                    ev.preventDefault();
                    alert("비밀번호는 최소 6글자입니다")
                }
            }

        });

    </script>

  </body>
</html>