<footer>

    <div class="w-full text-center text-gray-600 border-t-2 border-gray-500">
        <ul>
          <a href="https://maplestory.nexon.com/Home/Main"><li>DEVELOPER: &copy; Min</li></a>
          <li>ADDRESS: REP. of KOREA, Seoul</li>
          <li>TEL: 010-4033-0246</li>
          <li>EMAIL: 7cmdehdrb@naver.com</li>
        </ul>
    </div>

</footer>